.box2 {
    background-image: url(./images/main/mainCon1_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    .inner {
        color: #fff;
    }
}
