.wrap {
    margin-top: 100px;
    img {
        width: 100%;
    }
    .inner {
        width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        box-sizing: border-box;
        position: relative;
        position: relative;
    }
    article {
        width: 400px;
        &.big-view {
            .big-img {
                position: relative;
                h2 {
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.3);
                    position: absolute;
                    left: 0;
                    top: 5px;
                    margin: 10px 0 0 20px;
                }
                span {
                    overflow: hidden;
                }
            }
            .menus {
                width: 100%;
                height: 160px;
                overflow: auto;
                .img-list {
                    overflow: hidden;
                    height: 100px;
                    width: 1200px;
                    display: flex;
                    flex-wrap: nowrap;
                    margin-top: 20px;
                    li {
                        border-radius: 140px;
                        overflow: hidden;
                        width: 100px;
                        box-sizing: border-box;
                        margin-right: 10px;
                        img {
                            width: 100%;
                            box-sizing: border-box;
                            transition: 0.2s;
                        }
                        &:hover {
                            img {
                                scale: 1.2;
                            }
                        }
                    }
                }
            }
        }
    }
    .descList {
        position: relative;
        width: 350px;
        strong {
            word-break: keep-all;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 600;
        }
        .en-name {
            font-size: 14px;
            color: #aaa;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .desc {
            word-break: keep-all;
            font-size: 18px;
            margin-bottom: 50px;
            padding-top: 15px;
            border-top: 1.5px solid #000;
        }
        .ing {
            position: absolute;
            right: 0;
            bottom: 40px;
            height: 200px;
            em {
                font-size: 18px;
                display: block;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #dcdcdc;
            }
            ul {
                width: 350px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                li {
                    width: 170px;
                    display: flex;
                    justify-content: space-between;
                    &:nth-child(even) {
                        padding-left: 10px;
                        border-left: 1px dashed #aaa;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
    .like-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        span {
            display: block;
        }
        button {
            width: 350px;
            height: 30px;
            background: #fff;
            border: 0.5px solid #aaa;
            i {
                padding-left: 5px;
                font-size: 20px;
                line-height: 30px;
                vertical-align: middle;
                color: #aaa;
                transform: translateY(-1px);
                scale: 1;
            }
            &.on {
                i {
                    color: #db3434;
                }
            }
            &:active {
                i {
                    animation: like 0.5s forwards;
                }
                @keyframes like {
                    0% {
                    }
                    50% {
                        scale: 0.8;
                    }
                    100% {
                    }
                }
            }
        }
    }
}
