.box2 {
    background-image: url(https://adventure.lotteworld.com/common_mus/images/icon/mainCon1_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    .inner {
        color: #fff;
    }
}
