.pro-list {
    a {
        transition: 0.5s;
        li {
            span {
                display: block;
                font-size: var(--font-size-22);
                font-weight: var(--fointWait-700);
                height: 75px;
                line-height: 75px;
                background: #fff;
                transition: 0.1s;
            }
            em {
                width: 375px;
                height: 246px;
                overflow: hidden;
                display: block;
                img {
                    width: 100%;
                }
            }
        }
        &:hover {
            box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
            li {
                span {
                    background: var(--main-color);
                    color: #fff;
                }
            }
        }
    }
}
